body {
  background: rgba(0,0,0,0.2);
}

button {
  background-color: grey;
  color: black;
  border: 2px solid black;
  transition-duration: 0.4s;
  border-radius: 20%;
  font-weight: bold;
}
button:active {
  transform:translateY(-5px);
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #a3d5e0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5;
}


.show {display:block;}

#gunnalink:hover {
  background-color: rgba(9, 185, 39, 0.781);
}
#billielink:hover {
  background-color: rgba(1, 2, 1, 0.781);
  color: white;
}
#dojalink:hover {
  background-color: rgba(255, 19, 223, 0.781);
}
#nicklelink:hover {
  background-color: rgba(58, 90, 233, 0.781);
}
